
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

body{
    background-color: #CDDCD5;

}

header{ 
    font-family:  "Bodoni Moda", serif;
    text-align: center;
}

header h1{
    margin-bottom: 0;
    font-size: clamp(3rem,8vw,5rem);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}

header p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.7rem;
}

.search-bar{
    max-width: 40%;
    margin-top:2rem auto;
}

.search-bar input {
    width: 100%;
    border: 1px solid rgba(60, 46, 32, 0.8) ;
    border-radius: 10px;
    background: transparent;
    font-family: "Bodoni Moda", serif;
    color: black;

}

.category-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0 2rem;
    border-top: solid 3px #f7fffa;
    border-bottom: solid 3px #f7fffa;
}

.category-nav button {
    padding: 0.4rem;
    font-family: "Bodoni Moda", serif;
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    border: none;
}

.category-nav button:hover {
    background:#6183753f;
}