
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

body{
    background-color: #CDDCD5;

}

header{ 
    font-family:  "Bodoni Moda", serif;
    justify-content: center;
}