
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

body{
    background-color: #CDDCD5;
    padding-left:2rem;
    padding-right:2rem;
    color: #2e3c36;

}

header{ 
    font-family:"Cormorant Garamond", serif;
    text-align: center;
}

header h1{
    margin-bottom: 0;
    font-size: clamp(2rem,7vw,4rem);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}

header p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.7rem;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    max-width:300px;
    margin: 1.5rem auto;
    padding: 0 3rem;
}

.search-bar input {
    width: 100%;
    margin: 1px;
    border: 1px solid rgba(60, 46, 32, 0.8) ;
    border-radius: 10px;
    background: transparent;
    text-align: center;
    font-family: "GFS Didot", serif;
    color: #2e3c36;
}

.no-results{
    font-family:"GFS Didot", serif;
    font-size: 1 rem;
    padding-left:0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.category-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 2rem;
    border-top: solid 3px #f7fffa;
    border-bottom: solid 3px #f7fffa;
}

.category-nav button {
    padding: 0.5rem;
    margin-right: 0.1rem;
    font-family: "GFS Didot", serif;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    background: transparent;
    border: none;
}

.category-nav button:hover {
    background:#61837541;
    border-radius: 10px;    
    padding-left:0.5rem;
}

.menu{
    max-width: 1200px;
    padding-left:0.5rem;
}

.menu-section {
    margin-bottom: 5rem;
    }

.section-header{
    font-family: "Cormorant Garamond", serif;
    color: #2e3c36;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1rem;
}

.menu-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.menu-item{
    border-bottom: solid 3px #f7fffa;
    padding-bottom: 0.5rem;
}

.item-name{
    
    font-family: "GFS Didot", serif;
    color: #3e5448;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.item-desc{
    font-family: "GFS Didot", serif;
    color: #495a50;
    font-size: 0.9rem;
    font-weight: 500;  
}

.item-ingredients {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    color: #5E7366;
}

.item-ingredients strong {
    font-weight: 600;
}

.footer > p:first-child {
    font-family: "Cormorant Garamond";
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.footer-note{
    font-family: "GFS Didot", serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}